.adv-slider {
    .zoom-slider-wrapper {
        width: 100%;
    }
    .zoom-slider-wrapper {
        // overflow: hidden;
        user-select: none;
        cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODQiIGhlaWdodD0iODUiIHZpZXdCb3g9IjAgMCA4NCA4NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxjaXJjbGUgY3g9IjQxLjg2MTIiIGN5PSI0Mi4xOTMyIiByPSI0MC44MjAyIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiLz4NCjxwYXRoIGQ9Ik00OS44MjQ3IDM0Ljc2NzZMNTcuMjc5MyA0Mi4yMjIyTDQ5LjgyNDcgNDkuNjc2NyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjxwYXRoIGQ9Ik0zNC40MDU3IDQ5LjY0NzlMMjYuOTUxMiA0Mi4xOTM0TDM0LjQwNTcgMzQuNzM4OCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjwvc3ZnPg0K'),auto!important;
        transition: transform .3s ease-out;
        @include from(1025px){
            width: 100%;
        }
        &.drag {
            transform: scale(.95);
        }
        color: #A49B93;
        p {
            margin-top: 15px;
            text-transform: uppercase;
        }
        img {
            height: 540px;
            object-fit: cover;
        }
    }
    
}
.adv-slider-container {
    padding-top: 150px;
    
    @include to(575px){
        padding-top: 40px;
    }
    
    &__text {
        @include size(11);
        @include shift(0);
        @include to(575px){
            
            @include size(24);
            margin-bottom: 25px;
        }
    }
    &__nav {
        margin-left: auto;
        display: flex;
        align-self: flex-end;
        @include to(575px){
            width: max-content;
            margin-right: auto;
            margin-left: 0;
        }
        &>*~* {
            margin-left: 10px;
        }
        svg {
            @include to(575px){
                width: 40px;
                height: 40px;
            }
        }
        [data-screen3-next] svg {
            @include to(575px){
                stroke: none;
            }
        }
        [data-screen3-next] [data-circle-with-hover-default] {
            @include to(575px){
                fill: #464851;
            }
        }

    }
    .zoom-slider-wrapper {
        margin-top: 60px;
        @include to(575px){
            
            margin-top: 20px;
        }
    }
}

.adv-container {
    @include to(575px){
        .block-img-text__text {
            order: 2;
            
        }
        .block-img-text__img-wrap {
            order: 1;
        }
    }
    .adv-dark-text {
        @include size(8);
        @include shift-left(11);
        @include shift-right(5);
        @include from-to(576px, 1680px){
            margin-bottom: -50px;
        }
        @include to(1680px){
            font-size: 14px;
        }
        @include to(575px){
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
    }
    .adv-wide-block {
        margin-bottom: 50px;
        margin-top: 100px;
        @include to(575px){
            
            margin-top: 70px;
        }
    }
    .adv-subtitle {
        margin-bottom: 20px;
    }
}
.adv-subtitle {
    font-size: 48px;
    line-height: 120%;
    /* or 58px */
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--color-beige);
    @include from(1920px){
        font-size: 58px;
    }
    @include to(1240px){
        font-size: 36px;   
    }
    @include to(575px){
        font-size: 24px;   

    }
}

.adv-dark-text {
    color: #A49B93;
    font-size: 18px;
    line-height: 160%;
    @include from(1920px){
        font-size: 24px;
    }
    @include to(1240px){
        font-size: 14px;    
    }
}

.adv-wide-block {
    position: relative;
    @include size(22.2);
    @include shift(0.9);
    @include to(575px){
        // @include size(24);
        // @include shift(0);
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    &__decor {
        position: absolute;
        left: 0;
        top:0;
        @include size(4);
        @include shift-right(0);
        @include shift-left(4);
        transform: translateY(-50%);
        z-index: 0;
    }
    &__img {
        position: relative;
        z-index: 1;
    }
}