.build-progress-conteiner {
    align-items: flex-start;
    .build-card {
        width: 50%;
    }
}

.single-build-status {
    position: relative;
    --size: 250px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &>svg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;

    }
    &__value,
    &__subtitle {
        position: relative;
        z-index: 1;
    }
    &__value {
        font-size: 72px;
        line-height: 120%;
        /* or 86px */

        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: var(--color-white);
    }
    &__subtitle {
        font-size: 18px;
        line-height: 140%;
        /* or 25px */
        
        text-align: center;
        letter-spacing: -0.03em;
        color: var(--color-beige);
        
    }
}

.build-progress-subtitle {
    font-size: 30px;
    line-height: 140%;
}
.status-wrap {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;


    .swiper {
        width: 100%;
    }
    .swiper-slide {
        width: 250px;
        height: 250px;
    }
    .build-progress-subtitle {
        margin-bottom: 85px;
        text-align: center;
    }
    .swiper {
        @include shift-padding-left(2);
        position: relative;
    }
    .swiper:after {
        content: '';
        position: absolute;
        right: calc(var(--page-side-fields) * -1);
        top: 0;
        height: 100%;
        width: 40%;
        background: linear-gradient(90deg, #23242B 0%, rgba(35, 36, 43, 0) 100%);
        pointer-events: none;
        z-index: 5;
        
    }
    .slider-wrapper {
        position: relative;
    }
    .swiper-nav {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: auto;
        z-index: 25;
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
        &>* {
            pointer-events: all;
        }
    }
}

.build-card {
    cursor: pointer;
    border: 1px solid #4A4647;
    --v-padding: 30px;
    --h-padding: 50px;
    &__text {
        padding: var(--v-padding) var(--h-padding);
        color: var(--color-white);
        display: flex;
        align-items: center;justify-content: space-between;
    }
    &__img {
        position: relative;
        padding-bottom: 56.25%;
        margin-bottom: var(--inner-padding);
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
            transition: .3s ease-in-out;
        }
        
    }
    @include from(1025px){ 
        &:hover &__img img {
            filter: grayscale(0);
        }
    }
}


.build-status-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    z-index: 41;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-beige);
        span {
            margin-right: 15px;
            font-size: 14px;
            line-height: 100%;
            /* identical to box height, or 14px */
            text-align: right;
            letter-spacing: -0.03em;
            text-transform: uppercase;
        }
    }
    &__top-group {
        position: absolute;
        left: 0;
        top: calc(var(--page-side-fields) / 2);
        padding: 0 var(--page-side-fields);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        &>:nth-child(2) {
            margin: auto;
        }
        &>:nth-child(3) {
            margin-left: auto;
        }
    }
    &__title {
        margin-bottom: 50px;

        font-size: 72px;
        line-height: 100%;
        /* identical to box height, or 72px */

        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: var(--color-beige);
    }
    &__text {
        font-size: 18px;
        line-height: 160%;
        color: #A49B93;
    }
    &__title,
    &__text {
        max-width: 900px;
        width: 100%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    .inner-front__bottom-decor {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}