.main-screen {
    --top-offset: calc(80px + var(--header-h));
    background: linear-gradient(180deg, #263D6A 3.59%, #DCF7FF 100%);
    width: 100vw;
    height: calc(100vw / 1920 * 1756);
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: var(--top-offset);
    overflow: hidden;
    &__render {
        position: absolute;
        right: 0;
        top: var(--top-offset);
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 3;
    }
    &__text {
        
        @include shift-left(0.5);
        @include size(9.5);
        position: relative;
        z-index: 4;
        &>:nth-last-child(n+2) {
            margin-bottom: 50px;
        }
        p {
            width: calc(100% / 8 * 6);
        }
    }
    &__cloud-1,
    &__cloud-2 {
        position: absolute;
    }
    &__cloud-1 {
        right: 0;
        top: 20%;
        z-index: 2;
        height: 50%;
        width: 75%;
    }
    &__cloud-2 {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 2;
    }
}

.screen2 {
    @include row-flex();
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    align-items: center;

    text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
    img {
        min-height: calc(100vh - 280px);
    }
    p {
        color: #717280;
        margin-bottom: 50px;
    }
    .title-h2 {
        margin-bottom: 40px;
    }
    &__text  {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include size(10);
        @include shift(0);
        @include shift-padding(2);

    }
    .img-with-logo {
        @include size(7);
        @include shift(0);
    }
}

.section-decor {
    position: absolute;
    left: 50%;
    top: 0;
    width: 31px;
    height: 60px;
    transform: translate(-50%,-50%);
    svg {
        width: 100%;
        height: 100%;
    }
}
.screen3 {
    background-color: var(--color-black);
    --v-padding: 140px;
    padding-top: var(--v-padding);
    padding-bottom: var(--v-padding);
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    position: relative;
    &__top {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 60px;
        @include to(1680px){
         margin-bottom: 34px;   
        }
        .title-h2 {
            margin-right: auto;
        }
    }
    .swiper-slide {
        height: 45vh;
        @include to(1680px){
            height: 60vh;
        }
        img {
            height: calc(100% - 55px);
            margin-bottom: 20px;
            object-fit: cover;

        }
    }
    .zoom-slider-wrapper {
        // overflow: hidden;
        user-select: none;
        cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODQiIGhlaWdodD0iODUiIHZpZXdCb3g9IjAgMCA4NCA4NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxjaXJjbGUgY3g9IjQxLjg2MTIiIGN5PSI0Mi4xOTMyIiByPSI0MC44MjAyIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiLz4NCjxwYXRoIGQ9Ik00OS44MjQ3IDM0Ljc2NzZMNTcuMjc5MyA0Mi4yMjIyTDQ5LjgyNDcgNDkuNjc2NyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjxwYXRoIGQ9Ik0zNC40MDU3IDQ5LjY0NzlMMjYuOTUxMiA0Mi4xOTM0TDM0LjQwNTcgMzQuNzM4OCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjwvc3ZnPg0K'),auto!important;
    }
    [data-screen3-prev],
    [data-screen3-next] {
        cursor: pointer;
        svg {
            width: 100%;
            height: 100%;
        }
        @include to(1680px){
            width: 60px;
            height: 60px;   
        }
    }
    [data-screen3-next] {
        margin-left: 10px;
    }
}
.img-with-logo {
    position: relative;
    --logo-w: 31px;
    --logo-h: calc(var(--logo-w) / 31 * 60);
    padding-top: calc(var(--logo-h) / 2 );
    &__decor {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: var(--logo-w);
        height: var(--logo-h);
        z-index: 2;
    }
    &__wrap {
        overflow: hidden;
    }
}


.screen4 {
    height: 200vh;
    --v-padding: 140px;
    position: relative;
    &__inner {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--v-padding) var(--page-side-fields);
    }
    &__title {
        position: relative;
        z-index: 2;
        font-weight: 300;
        font-size: 288px;
        line-height: 90%;
        /* or 259px */
        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        @include to(1680px){
            font-size: 200px;
        }
    }
    &__video {
        position: absolute;
        left: 0;
        top: var(--v-padding);
        width: 100%;
        height: calc(100% - var(--v-padding) * 2);
        z-index: 0;
        video {
            width: 100%;
            height: 100%;
        }
    }
    &__video-play {
        position: absolute;
        left:50%;
        top: 50%;
        width: 100px;
        height: 100px;
        transform: translate(-50%,-50%);

    }
}

.screen5 {
    
    position: relative;
    height: 350vh;
    &__inner {
        padding-top: 15vh;
        padding-bottom: 20vh;
        background-color: var(--color-black);
        padding-left: var(--page-side-fields);
        height: 100vh;
    }
    .title-h2 {
        margin-left: auto;
        text-align: left;
        margin-bottom: 12.6vh;
    }
    .title {
        font-weight: 300;
    }
    
}
.screen5-hor-block {
    display: flex;
    height: calc(100vh - 35vh - 12.6vh);
    &__item:nth-child(n+2) {
        padding-left: 94px;
    }
    &__item {
        width: 100vw;
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
        img {
            width: 50%;
            height: 100%;
            object-fit: cover;
        }
        &-text {
            width: 50%;
            padding-left: 70px;
        }
        .title {
            margin-bottom: 40px;
            width: 70%;
        }
        p {
            max-width: 50%;
        }
    }
}

.genplan {
    height: 500vh;
    &__inner {
        display: flex;
        @include row-flex();
        align-items: center;
        height: 100vh;
    }
    &__text {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        z-index: 2;
        @include size(6);
        @include shift-right(-1);
        @include shift-left(1);
        padding-left: var(--page-side-fields);
        .title-h2 {
            margin-bottom: 40px;
        }
        p {
            margin-bottom: 60px;
        }
    }
    &__text2 {
        opacity: 0;
        visibility: hidden;
    }
    &__img {
        @include size(18);
        @include shift(0);
    }
    &__list {
        display: flex;
        flex-direction: column;
        li {
            display: flex;
            align-items: center;
        }
        li:nth-last-child(n+2) {
            margin-bottom: 10px;
        }
        svg {
            width: 80px;
            height: 80px;
            border: 1px solid #DCDCDC;
            border-radius: 50%;
            padding: 15px;
            margin-right: 30px;
            flex-shrink: 0;
            @include to(1680px){
                width: 50px;
                height: 50px;
                padding: 10px;
            }
        }
    }
    &__text-block-wrapper {
        position: relative;
        width: 100%;
        height: 30vh;
        &>* {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
            top: 0;
        }
    }
}

.screen7 {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-black);
    position: relative;
    padding-top: 180px;
    padding-bottom: 180px;
    --side-blocks-w: 40.2vw;
    --side-blocks-h: 39vh;
    --gutter: 70px;
    .title-h2 {
        width: 100%;
        padding-bottom: var(--gutter);
        text-align: center;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -7.5vw;
    }
    &__head-block {
        width: 37.9vw;
        height: 67vh;
        padding-left: var(--gutter);
        padding-right: var(--gutter);
        position: relative;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__left-block {
        width: var(--side-blocks-w);
        height: var(--side-blocks-h);
        display: grid;
        grid-template-rows: 1fr;
        gap: var(--gutter);
        grid-template-columns: 1fr 1fr;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__right-block {
        width: var(--side-blocks-w);
        height: var(--side-blocks-h);
        display: grid;
        gap: var(--gutter);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        img {
            height: 100%;
            object-fit: cover;
        }
        & > :nth-child(2) {
            grid-area: 1/2/3/2;
            height: 100%;
            object-fit: cover;
        }
    }
}




.screen8 {
    --right-img-v-margin: -113px;
    position: relative;
    padding-top: 165px;

    @include row-flex();
    align-content: flex-end;
    align-items: flex-end;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    background: linear-gradient(180deg, #23242B 0%, rgba(35, 36, 43, 0) 76.62%),  linear-gradient(180deg, #263D6A 3.59%, #DCF7FF 100%);
    &__text {
        @include size(6);
        @include shift-left(2);
        @include shift-right(0);
        height: 0;
        @include from(1681px){
            &>:nth-last-child(n+2) {
                margin-bottom: 60px;
            }
        }
    }
    .title {
        color: #E5CDB7;
        @include to(1680px){
            margin-bottom: 20px;
        }
    }
    p {
        @include to(1680px){
            margin-bottom: 40px;
        }
    }
    .img-left {
        @include size(6);
        @include shift-left(2);
        @include shift-right(2);
        align-self: flex-start;
        margin-top: 175px;
    }
    .img-center {
        position: relative;
        @include size(11);
        @include shift-left(0);
        @include shift-right(0);
        &:before {
            content: '';
            position: absolute;
        }
    }
    .img-right {
        @include size(4);
        @include shift-left(-2);
        margin-bottom: var(--right-img-v-margin);
    }
    &__render {
        width: calc(100vw + (var(--page-side-fields) * 2));
        margin-left: calc(var(--page-side-fields) * -1);
        margin-right: calc(var(--page-side-fields) * -1);
        height: calc(100vw / 1920 * 1649);
        position: relative;
        pointer-events: none;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom right;
        }
    }
}


.screen9 { 
    position: relative;
    min-height: 100vh;
    --v-padding: 175px;
    @include row-flex();
    padding: var(--v-padding) var(--page-side-fields) 0 var(--page-side-fields);
    &__left {
        @include size(3);
        @include shift-left(1);
        @include shift-right(1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: center;
    }
    .nav-wrap {
        display: flex;
        margin-top: auto;
        :nth-child(2) {
            margin-left: 10px;
        }
    }
    &__right {
        @include size(5);
        @include shift-left(1);
        @include shift-right(0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: center;
        p {
            margin-bottom: 30px;
        }
        .counter {
            margin-top: auto;
        }
    }
    &__center {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include size(12);
        @include shift-left(1);
        @include shift-right(0);
        margin-bottom: 60px;
        &>:nth-child(1) {
            width: 100%;
            height: 100%;
        }
        &>svg {
            position: relative;
            z-index: 1;
            margin: auto;
        }
        .subtitle {
            position: relative;
            z-index: 1;
            margin-bottom: 30px;
        }
    }
    &__title-l {
        width: 100%;
        margin-left:  calc(var(--page-side-fields) * -1);
        display: flex;
        margin-top: auto;
        font-weight: 300;
        font-size: 288px;
        line-height: 75%;
        color: #32333D;
        /* identical to box height, or 190px */
        letter-spacing: -0.03em;
        text-transform: uppercase;
        span{
            width: 50%;
        }
        span:nth-child(2) {
            transform: translateX(var(--page-side-fields));
            color: #DFDFDF;
        }

    }
    iframe {
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
        z-index: 0;
    }
    &>svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.screen10 {
    padding: 150px var(--page-side-fields);
    @include row-flex();
    @include from(1025px){
        &__text>:nth-last-child(n+2) {
            margin-bottom: 30px;
        }   
    }
    &__text {
        @include size(4);
        @include shift(1);
    }
    &__slider {
        @include size(18);
        @include shift(0);
        display: flex;
    }
    .screen10-slide {
        width: 33.3%;
        flex-shrink: 0;
    }
}
.screen10-slide {
    position: relative;
    height: 62.5vh;
    --padding: 40px;
    padding-left: var(--padding);
    padding-top: var(--padding);
    padding-bottom: calc(var(--padding) * 1.95);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    .curtain,
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: saturate(0);
    }
    .curtain {
        background: linear-gradient(180deg, rgba(35, 36, 43, 0) 0%, #23242B 100%);
        background: linear-gradient(180deg, rgba(35, 36, 43, 0.438) 0%, rgba(35, 36, 43, 0.438) 100%);
    }
    .text-white {
        width: 350px;
    }
    .text-white:last-child {
        margin-top: auto;
    }
}



.screen11 {
    background-color: var(--color-black); 
    position: relative;
    padding: 210px var(--page-side-fields);
    @include row-flex();
    .title-h2 {
        @include size(23);
        @include shift-left(1);
        @include shift-right(0);
        margin-bottom: 50px;

    }
    &__left {
        @include size(4);
        @include shift-left(1);
        @include shift-right(0);
    }
    &__right {
        @include size(14);
        @include shift-left(5);
    }
    .link-l {
        font-size: 64px;
        @include to(1680px){
            font-size: 48px;
        }
        line-height: 100%;
        color: #E5CDB7;
    }
    .contacts-text {
        color: #B2A9A0;
        font-size: 24px;
        line-height: 140%;
    }
    .contacts-subtitle {
        color: #E5CDB7;
        font-size: 18px;
        line-height: 160%;
        @include to(1680px){
         font-size: 14px;   
        }
    }
    .contacts-link {
        font-size: 24px;
        @include to(1680px){
            font-size: 18px;
        }
        color: #E5CDB7;
    }
    &__group:nth-last-child(n+2) {
        margin-bottom: 50px;
    }
    &__group {
        &>:nth-child(1) {
            margin-bottom: 10px;
        }
        &>:nth-child(2) {
            margin-bottom: 20px;
        }
    }
    &__group-l {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a[href*="tel"] {
            text-decoration: none;
        }
        .button {
            margin-top: 50px;
        }
        a:nth-child(n+2) {
            margin-top: 30px;
        }
    }
    .contacts-link~.contacts-link {
        margin-left: 40px;
    }
}

.icon--auto,
.icon--man,
.icon--bycicle,
.icon--park {
    fill: transparent;
}