.single-news {
    .inner-front__title {
        font-size: 72px;
    }
}


.single-news-container {
    background-color: var(--color-black);
    padding-top: 100px;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    @include row-flex();

    img, iframe, video {
        @include size(24);
        @include shift(0);
        margin-top: 70px;
        margin-bottom: 70px;
    }
    p {
        font-size: 18px;
        line-height: 160%;
        /* or 29px */
        color: #A49B93;
        margin-top: 30px;
        margin-bottom: 30px;
        @include size(12);
        @include shift(6);
        
    }
    h2,h3,h4,h5, h6, ul {
        font-size: 30px;
        line-height: 140%;
        margin-top: 30px;
        margin-bottom: 30px;
        /* or 42px */
        /* Светлый */
        color: var(--color-beige);
        @include size(12);
        @include shift(6);
    }

}