.header 
    +svg('logo')
    .langs-header
        ul
            li 
                a(href="#") UA 
            li 
                a(href="#") RU 
            li 
                a(href="#") EN 
    button(type="button" class="button button--small") замовити дзвінок
    a(href="tel:+380449956364")  +38 (044) 995-63-64
    button(type="button" class="button button--small") обрати квартиру
    button(type="button").header__menu
        span Меню
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30" cy="30" r="30" fill="#E5CDB7"/>
            <path d="M37 24L37 23L23 23L23 24L37 24Z" fill="#23242B"/>
            <path d="M40 28L40 27L20 27L20 28L40 28Z" fill="#23242B"/>
            <path d="M40 32L40 31L20 31L20 32L40 32Z" fill="#23242B"/>
            <path d="M37 36L37 35L23 35L23 36L37 36Z" fill="#23242B"/>
            </svg>

