.loader 
    <svg class="loader__lines" width="42" height="920" viewBox="0 0 42 920" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 8H0V920H8V8Z" fill="#E5CDB7"/>
        <path d="M20 0H11V920H20V0Z" fill="#E5CDB7"/>
        <path d="M31 0H23V920H31V0Z" fill="#E5CDB7"/>
        <path d="M42 8H34V920H42V8Z" fill="#E5CDB7"/>
        </svg>
    .loader__counter 25
    script
        include ./loader/loader.js
    style
        include ./loader/loader.css