
extends ../layout/main
block variable
  -
    var title_page = 'Комерційна нерухомість'
    var id_page = 'id-page-commercial'
    var class_page = 'class-page-commercial'
    var breadcrumbsSubitem = [
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/index-app.bundle.js')
  script(defer src='./assets/scripts/commercial.bundle.js')
block content
  +InnerPageFront(title_page, 'some', './assets/images/commercial/front.jpg')
  .container 
    .block-img-text.row-plain
      .block-img-text__text
        .commercial-subtitle У Central Park Vinnytsia є все необхідне не лише для життя, а й для бізнесу.
        p.commercial-text Район передбачає не тільки комерційні та офісні площі, де можна реалізувати будь-які бізнес-ідеї, а й супутню інфраструктуру: відділення пошти, сервісні об'єкти, ресторан для бізнес-ланчу або ділового обіду з колегами чи бізнес-партнерами, затишні зони відпочинку, фінансові та юридичні установи для максимально комфортних умов роботи.
      .block-img-text__img-wrap 
        .block-img-text__img 
          img(src='./assets/images/commercial/277900885.jpg')
    .block-img-text.row-plain
      .block-img-text__img-wrap 
        .block-img-text__img 
          img(src='./assets/images/commercial/277900885-1.jpg')
      .block-img-text__text
        .commercial-subtitle Для резидентів та відвідувачів передбачені багаторівневий підземний та гостьовий паркінги.
        p.commercial-text Сучасна людина найбільше цінує свій час, тому в Central Park Vinnytsia буде можливо жити і працювати в межах комплексу, що органічно вписується в концепцію комплексу LIVE WORK REST - ЖИВИ ПРАЦЮЙ ВІДПОЧИВАЙ
        a.button.with-hover.mt-medium(href="infrastructure")
          .button__hover
          span Дізнатися більше
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
