
extends ../layout/main
block variable
  -
    var title_page = 'Галерея'
    var id_page = 'id-page-gallery'
    var class_page = 'class-page-gallery'
    var breadcrumbsSubitem = [
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/index-app.bundle.js')
  script(defer src='./assets/scripts/gallery.bundle.js')
block content
  +InnerPageFront(title_page, 'some', './assets/images/gallery/front.jpg')
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
