extends ../layout/main
block variable
block meta
  title= 'Главная'
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/index-app.bundle.js')
  script(defer src='./assets/scripts/home.bundle.js')
block content
  .main-screen 
    .main-screen__text
      .title Central Park – затишок в дрібницях 
      p Група «Еталон» з гордістю представляє масштабний проект у центрі Вінниці. Це місто в місті, яке не підлаштовується під старі рамки.
      button.button Обрати квартиру
    +img('screen1.png').main-screen__render
    +img('clouds.png')
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
