
@font-face {
	font-family: 'Nunito Sans';
	font-display: swap;
	src: local('SuisseIntl'),
		url('../fonts/Inter-SemiBold.ttf') format('truetype');
		font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Corporate A';
	font-display: swap;
	src: local('Corporate A'),
		url('../fonts/CorporateA-Regular.ttf') format('truetype');
	font-style: normal;
}

