.screen11.contacts
    .section-decor
        +svg('logo-mini')
    .title-h2.text-beige Контакти
    button(type="button" class="button") Замовити дзвінок
    button(type="button" class="button") Показати на мапі
    button(type="button" class="button") Показати на карті
    a(href="mailto:central-park@com.ua").link-l central-park@com.ua
    a(href="mailto:+380441106104").link-l +38 (044) 110 61 04
    .contacts-subtitle Відділ продажу:
    .contacts-subtitle Будівництво:
    .contacts-subtitle Графік роботи:
    .contacts-subtitle Соцмережі:
    .contacts-text м. Вінниця, вул. Максимовича, 6
    .contacts-text Пн-Сб: 09:00-19:00
    .contacts-text Нд: 10:00-17:00
    a(href="#" target='_blank').contacts-link facebook
    a(href="#" target='_blank').contacts-link instagram
    .contacts-text м. Вінниця, вул. Максимовича, 6

