.screen5-5 {
    height: 100vh;
    --side-padding: 85px;
    @include to(1024px){
        display: none;
    }
    @include to(1680px){
        --side-padding: 40px;
    }
    &__container {
        height: 100vh;
        width: 100%;
        // background-color: greenyellow;
        display: flex;
    }


    &__left {
        width: 28%;
        height: 100%;
        padding-left: var(--side-padding);
        position: relative;
        @include to(1024px){
            display: none;
        }
        &:before {
            content: '';
            position: absolute;
            left: 100%;
            top: 0;
            height: 100%;
            width: 7%;
            background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }
        // background-color: blue;
    }
    &__right {
        width: 72%;
        height: 100%;
        object-fit: contain;
        // object-position: 0 var(--header-h);
        object-position: 0 center;
        @include to(1024px){
            width: 100%;
        }
        // background-color: yellow;
    }

    --legend-item-size: 128px;
}


.genplan-legend{
    position: relative;
    --percent: 100;
    &:after {
        content: '';
        position: absolute;
        left: 64px;
        top: calc(50vh + 64px);
        width: 1px;
        height: calc(100% - 100vh - 64px);
        background: linear-gradient(0deg, rgba(255,255,0,0) var(--percent), rgba(2,0,36,1) var(--percent));
        z-index: -1;
    }
}
.genplan-legend-item {
    --legend-item-size: 128px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    transition: .25s ease-out;
    // transform-origin: calc(var(--legend-item-size) / 2) center;


    
    &__circle {
        width: var(--legend-item-size);
        height: var( --legend-item-size);
        background-color: var(--color-beige);
        color: var(--color-white);
        border-radius: 50%;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .25s ease-out;
        line-height: 120%;
        font-size: 12px;
        transform: scale(0.5);
        flex-shrink: 0;
    }
    
    &.active &__circle {
        background-color: var(--color-black);
        font-size: 48px;
        transform: scale(1);
        transform-origin: top;
    }

    &__text {
        &>:first-child {
            font-weight: 600;
            font-size: 48px;
            line-height: 100%;
            /* identical to box height, or 48px */
            color: var(--color-black);
            letter-spacing: -0.03em;
            text-transform: uppercase;
        }
        &>:last-child {
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: var(--text-color);
        }
    }
}

.genplan-legend-item-line {
    &:first-child {
        height: 50vh;
        
            opacity: 0;
    }
    &:last-child {
        height: 50vh;
        opacity: 0;
    }
    &:nth-last-child(3) {
        margin-bottom: calc(var(--legend-item-size) / -2);
    }
    height: 50vh;
    width: 1px;
    background-color: var(--color-black);
    opacity: 0.1;
    margin-left: calc(var( --legend-item-size) / 2);
}

.screen4 {
    display: none;
}


.screen5-5-mobile {
    @include from(1025px){
        display: none;    
    }
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    --img-height-percent: 80;
    --slider-height-percent: 20;
    &__top {
        height: calc(var(--vh, 1vh) * var(--img-height-percent));
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        /* image aspect ration 16:9 */
        img {
            height: 100%;
            max-width: none;
            width: calc((var(--vh, 1vh) * var(--img-height-percent)) / 9 * 16);
        }
    }
    &__bottom {
        height: calc(var(--vh, 1vh) * var(--slider-height-percent));
    }
}

.screen5-5-mobile-swiper {
    height: 100%;
    // .swiper-slide-prev {
    //     background-color: green;
    // }
    // .swiper-slide-next {
    //     background-color: yellow;
    // }
    // .swiper-slide-active {
    //     background-color: red;
    // }

    // .swiper-slide:last-child {
    //     opacity: 0;
    // }
}

.mob-infra-item {

    padding-left: 0;
    --left-padding: 16px;
    &:first-child {
    }
    padding-left: var(--left-padding);
    padding-top: 20px;
    padding-bottom: 20px;
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__circle {
        width: 36px;
        height: 36px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--color-white);
        display: flex;
        justify-content: center;align-items: center;
        background-color: var(--color-beige);
        border-radius: 50%;
        transition: .25s ease-out;
        animation: pulse 2s infinite;
    }
    &.swiper-slide-active &__circle {
        background-color: var(--color-black);
        transform: scale(1.25);
        animation: none;
    }
    &__circle-line {
        height: 1px;
        flex-grow: 1;
        margin-right: calc(var(--left-padding) / -1);
        background-color: #D9D9D9;
    }
    &:nth-last-child(1) &__circle-line {
        opacity: 0;
    }
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: var(--color-black);
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: var(--text-color);
    }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(229,205,183, 0.7);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(229,205,183, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(229,205,183, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(229,205,183, 0.7);
      box-shadow: 0 0 0 0 rgba(229,205,183, 0.7);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(229,205,183, 0);
        box-shadow: 0 0 0 10px rgba(229,205,183, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(229,205,183, 0);
        box-shadow: 0 0 0 0 rgba(229,205,183, 0);
    }
  }