.screen7 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: var(--color-black);
    position: relative;
    padding-top: 180px;
    padding-bottom: 180px;
    --side-blocks-w: 40.2vw;
    --side-blocks-h: 39vh;
    --gutter: 70px;
    @include to(992px){
        --gutter: 18px;
        --side-blocks-w: 60.2vw;

    }
    .title-h2 {
        width: 100%;
        padding-bottom: var(--gutter);
        text-align: center;
        @include to(992px){
            
            padding-bottom: calc(var(--gutter) * 2.5);
        }
    }
    &__content {
        display: flex;
        align-items: center;
        align-content: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        // margin-left: -7.5vw;
        @include to(992px){
            margin-left: -40.5vw;
        }
    }
    &__head-block {
        width: 37.9vw;
        width: calc(100vw - (var(--side-blocks-w)) - ((var(--gutter) * 2)));
        height: 67vh;
        height: auto;
        // padding-left: var(--gutter);
        // padding-right: var(--gutter);
        position: relative;
        overflow: hidden;
        @include to(992px){
            width: 61vw;
        }
        &-text {
            position: absolute;
            left: 50%;
            width: 100%;
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;justify-content: center;
            bottom: 50px;
            transform: translateX(-50%);
            z-index: 2;
            @include autoAlpha(0);
        }
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__left-block {
        width: var(--side-blocks-w);
        height: var(--side-blocks-h);
        display: grid;
        grid-template-rows: 1fr;
        gap: var(--gutter);
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__right-block {
        width: var(--side-blocks-w);
        height: var(--side-blocks-h);
        display: grid;
        gap: var(--gutter);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateX(50%)  translateY(-50%);
        
        img {
            height: 100%;
            object-fit: cover;
        }
        & > :nth-child(2) {
            grid-area: 1/2/3/2;
            height: 100%;
            object-fit: cover;
        }
    }

    .screen7-title {
        font-weight: 300;
        font-size: calc(100px / 100 * 38);
        line-height: 100%;
        /* or 90px */
        letter-spacing: -0.03em;
        /* Светлый */
        color: #E5CDB7;
    }
}
